# .github/workflows/discord-commit-webhook.yml

name: Discord Push Webhook

on:
  push:
    branches:
      - dev
      - main

jobs:
  send-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Build Commit Message and Count
        id: build_message
        run: |
          # Format the commit messages into a single string
          COMMIT_MESSAGES=$(echo '${{ toJSON(github.event.commits) }}' | jq -r '.[] | "`" + .id[0:7] + "` " + .message + " - *" + .author.name + "*"')
          
          # Escape characters for JSON
          COMMIT_MESSAGES="${COMMIT_MESSAGES//'%'/'%25'}"
          COMMIT_MESSAGES="${COMMIT_MESSAGES//$'\n'/'\n'}"
          COMMIT_MESSAGES="${COMMIT_MESSAGES//$'\r'/'\r'}"
          
          # Set the message as a multi-line environment variable for the job
          echo "message<<EOF" >> $GITHUB_ENV
          echo "$COMMIT_MESSAGES" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

          # Calculate the commit count using jq and save it as an environment variable
          echo "COMMIT_COUNT=$(echo '${{ toJSON(github.event.commits) }}' | jq 'length')" >> $GITHUB_ENV

      - name: Send Discord Webhook
        uses: tsickert/discord-webhook@v5.3.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: ""
          embeds: |
            [
              {
                "author": {
                  "name": "${{ github.event.sender.login }}",
                  "url": "${{ github.event.sender.html_url }}",
                  "icon_url": "${{ github.event.sender.avatar_url }}"
                },
                "title": "[${{ github.ref_name }}] ${{ env.COMMIT_COUNT }} new commit(s)",
                "url": "${{ github.event.compare }}",
                "description": "${{ env.message }}",
                "color": "3447003",
                "timestamp": "${{ github.event.head_commit.timestamp }}"
              }
            ]
